In [1]:
# String interpolation (f-strings)
name = "John"
age = 30
print(f"My name is {name} and I am {age} years old.")

My name is John and I am 30 years old.

In [2]:
# str.format()
name = "John"
age = 50
print("My name is {} and I am {} years old.".format(name, age))

My name is John and I am 50 years old.

In [5]:
# % Operator
name = "Johnathan"
age = 30
print("My name is %s and I am %d years old." % (name, age))

My name is Johnathan and I am 30 years old.

In [6]:
# Additional capabilities
x = 10
y = 20
print(f"The sum of x and y is {x+y}.")

The sum of x and y is 30.

In [12]:
  x = 10
y = 20
z = x + y
print(f" z = {x+y}.")

 z = 30.

In [13]:
# Raw String (r’’)
regular_string = "C:\new_folder\file.txt"
print("Regular String:", regular_string)

Regular String: C:
ew_folderile.txt