In [1]:
# Create your first tuple

tuple1 = ("disco", 10, 1.2)

print(tuple1)

('disco', 10, 1.2)

In [2]:
# Print the type of the tuple you created

type(tuple1)

tuple

In [3]:
# Print the variable on each index

print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [4]:
# Print the type of value on each index

print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [5]:
# Use negative index to get the value of the last element

tuple1[-1]

1.2

In [6]:
# Use negative index to get the value of the second last element

tuple1[-2]

10

In [7]:
# Use negative index to get the value of the third last element

tuple1[-3]

'disco'

In [8]:
# Concatenate two tuples

tuple2 = tuple1 + ("hard rock", 10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [9]:
# Slice from index 0 to index 2

tuple2[0:3]

('disco', 10, 1.2)

In [10]:
# Slice from index 3 to index 4

tuple2[3:5]

('hard rock', 10)

In [11]:
# Get the length of tuple

len(tuple2)

5

In [12]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [13]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [14]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

In [15]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [16]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

In [17]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [18]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

In [19]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [20]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [21]:
# Quiz on Tuples

In [22]:
# sample tuple

genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco")
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

In [23]:
# Find the length of the tuple, genres_tuple:
# Write your code below and press Shift+Enter to execute
len(genres_tuple)

8

In [25]:
# Access the element, with respect to index 3:
# Write your code below and press Shift+Enter to execute
print(genres_tuple[3])

hard rock

In [26]:
# Use slicing to obtain indexes 3, 4 and 5:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

In [29]:
# Find the first two elements of the tuple genres_tuple:
genres_tuple[0:2]

('pop', 'rock')

In [30]:
# Find the index of 's' in "disco":
"disco".find('s')

2

In [35]:
# Generate a sorted List from the Tuple C_tuple=(-5, 1, -3):
C_tuple = (-5, 1, -3)
C_tuple = (-5, 1, -3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

In [40]:
my_list = [1, 2, 3, 4, 5]
my_list.insert(2, 6)
print(my_list)

[1, 2, 6, 3, 4, 5]

In [41]:
my_list = [10, 20, 30, 40, 50]
removed_element = my_list.pop() # Removes and returns the last element
print(removed_element)
# Output: 50
print(my_list)
# Output: [10, 20, 30, 40]

50
[10, 20, 30, 40]

In [44]:
my_list = [1, 2, 3, 4, 5]
my_list.reverse()
print(my_list)
# Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [45]:
fruits = ("apple", "banana", "orange","apple")
print(len(fruits))

4