In [2]:
 experiment_data = ((1.5, 2.7), [3.6, 4.1])
 experiment_data[1]

[3.6, 4.1]

In [3]:
A = ((1),[2,3],[4])
A[2]

[4]

In [5]:
cart = ['shirt', 'pants']
cart.append(['hat', 'belt'])
print(cart)

['shirt', 'pants', ['hat', 'belt']]

In [7]:
nav_menu = ["Home", "Products", "About Us", "Contact"]
del(nav_menu[1])
print(nav_menu)

['Home', 'About Us', 'Contact']

In [8]:
len(("disco",10,1.2, "hard rock",10))

5

In [9]:
 album_years = {"Thriller":"1982", "Back in Black":"1980", "The Dark Side of the Moon":"1973"}
 album_years.values()  # Output: dict_values(['1982', '1980', '1973'])

dict_values(['1982', '1980', '1973'])

In [11]:
A = {1, 2, 3}
B = {2, 4, 7}
print(A.union(B))

{1, 2, 3, 4, 7}

In [12]:
A = {1, 2, 3}
B = {2, 4, 7}
print(A|B)

{1, 2, 3, 4, 7}